:root {
  --color-green-100: #beee7a;
  --color-green-200: #86c232;
  --color-green-300: #61892f;
  --color-grey-200: #474b4f;
  --color-grey-300: #6b6e70;
  --color-grey-400: #222629;
  --border-radius: 4px;
}


body {
  background-color: var(--color-grey-400);
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-inline:0;
  margin-block:0;
  padding-inline:0;
  padding-block:0;
}

h1, h2, h3 {
  font-family: "Dosis", sans-serif;
}

h1,h2,h3,p { text-align: center;}

h2 {
  color: var(--color-green-300);
}

h3 {
  color: var(--color-green-200);
}

a {
  color: var(--color-green-100);
}

ul,
ol {
  list-style: none;
  padding-inline: 0;
  padding-block: 0;
  margin-inline: 0;
  margin-block-start: 1rem;
  margin-block-end: 3.5rem;
}

nav {
  position: fixed;
  width: 100%;
  top: 94%;
  background-color: var(--color-grey-400);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

nav ul {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

nav ul a {
  text-decoration: none;
}

main {
  max-width: 1600px;
  margin-inline:auto;
  padding-inline: 1rem;
}

section {
  width: fit-content;
  margin-block-start: 0;
  margin-block-end: 3rem;
  margin-inline: auto;
}

dt,dd {
  display: inline;
  margin-inline:0;
  padding-inline:0;
}

div {
  display: flex;
  justify-content: space-between;
}

div dt {
  margin-inline-end: 2.5rem;
}

img {
  display: block;
  margin-inline:auto;
  border-radius: var(--border-radius);
}


@media only screen and (min-width:1300px) {

  nav {
    display: none;
  }

  main {
    display: grid;

  }

}